{:kotoba.app/id "cloud.itonami.isic-0124", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihmcw33qqbehhvnl3pwxi6pcriamstjqpu6d6ow37sugrcy4uhzgu", :kotoba.app/embed-url "ipfs://bafkreihmcw33qqbehhvnl3pwxi6pcriamstjqpu6d6ow37sugrcy4uhzgu", :published {:archive "https://kotobase.net/ipfs/bafkreihmcw33qqbehhvnl3pwxi6pcriamstjqpu6d6ow37sugrcy4uhzgu", :size 72513, :put-status 201, :get-status 200, :at "2026-08-15T12:55:55.929Z"}}
