{:kotoba.app/id "cloud.itonami.isic-0124", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiasgnyazeuow6vtmwsxjbdi5k7jihbbup4d2vwdskefbckkxjc5ya", :kotoba.app/embed-url "ipfs://bafkreiasgnyazeuow6vtmwsxjbdi5k7jihbbup4d2vwdskefbckkxjc5ya", :published {:archive "https://kotobase.net/ipfs/bafkreiasgnyazeuow6vtmwsxjbdi5k7jihbbup4d2vwdskefbckkxjc5ya", :size 72671, :put-status 201, :get-status 200, :at "2026-08-15T14:05:52.365Z"}}
